@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

nav {
  height: 70px;
  background: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav-links ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
}

.logo a {
  display: flex;
}

.logo-img {
  width: 30px;
  margin-right: 1em;
  filter: invert(100%);
}

.hero {
  padding-top: 4em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.game-container {
  border: 2px solid black;
  /* 16:9 Aspect Ration */
  width: 80em;
  height: 45em;
  margin-bottom: 3em;
}

button {
  padding: 1em 3em;
}

.fraction-info-links ul {
  display: flex;
}

.fraction-info-links ul li {
  margin-right: 4em;
  list-style: none;
}

.fraction-info-links a {
  text-decoration: none;
  color: black;
}

#quizForm {
  max-width: 600px;
  margin: 0 auto;
}

.question {
  border: 1px solid darkgray;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.question p {
  margin-bottom: 20px;
}

.question label {
  display: inline-block;
  margin-bottom: 10px;
}

.question label:nth-child(odd) {
  clear: left;
  width: 50%;
  float: left;
}

.question label:nth-child(even) {
  width: 50%;
  float: right;
  clear: right;
}

input[type="submit"] {
  display: block;
  margin: 20px auto;
  font-size: 15px;       /* Increase font size */
  padding: 10px 20px;    /* Increase padding */
  border-radius: 5px;    /* Optional: Add rounded corners */
}

